@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter.ttf');
}

@import 'variables';
@import 'scaffolding';

section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  width: 500px;
  flex-shrink: 0;
}
#root {
  display: flex;
  width: fit-content;
}
#wrapper {
  overflow-x: auto;
  height: 100vh
}

#wrapper-mandatory {
  overflow-y: auto;
  height: 600px;
}

#root-mandatory {
  height: fit-content;
}